* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

regiright_2_3img {
  max-width: 100%;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.top {
  overflow: hidden;
}

.header {
  min-height: 75px;
  background: rgb(34, 34, 34);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header_left {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header_right {
  display: flex;
  align-items: center;
  gap: 33px;
}

.menu {
  width: 232px;
  position: absolute;
  top: 75px;
  right: 0;
  padding: 32px;
  box-sizing: border-box;
  transition: right 0.3s;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  background: rgb(255, 255, 255);
}
.menu__heading {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  margin-bottom: 4px;
}
.menu__subheading {
  color: rgb(241, 109, 127);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 12px;
  margin-top: 20px;
}
.menu__ul {
  display: flex;
  flex-direction: column;
  gap: 11px;
  list-style-type: none;
  padding-left: 20px;
}
.menu__link {
  color: rgb(111, 110, 110);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.menu__link:hover {
  color: rgb(241, 109, 127);
}
.menu__cart {
  display: flex;
  align-items: center;
  position: relative;
}
.menu__cart_count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  font-size: 12px;
  color: #fff;
  background-color: #f16d7f;
  border-radius: 100%;
  position: absolute;
  left: 22px;
  bottom: 18px;
}

#check {
  position: absolute;
  left: -99999px;
  visibility: hidden;
}

#check:checked ~ .menu {
  right: -232px;
}

.top_content {
  background: #F1E4E6;
  display: flex;
  align-items: center;
  gap: 64px;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}
.top_content_right {
  display: flex;
}
.top_content_right_text {
  padding-left: 16px;
}
.top_content_title {
  font-size: 48px;
  font-weight: 900;
  text-align: left;
}
.top_content_subtitle {
  font-size: 32px;
  font-weight: 700;
  /* text-align: left; */
}
.top_content_heading {
  color: rgb(241, 109, 127);
}

.top_head {
  background: rgb(248, 243, 244);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top_head_heading {
  color: rgb(241, 109, 127);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}
.top_head_breadcrumbs__ul {
  list-style-type: none;
  display: flex;
}
.top_head_breadcrumbs__li:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: rgb(99, 99, 99);
}
.top_head_breadcrumbs__link {
  color: rgb(99, 99, 99);
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}
.top_head_breadcrumbs__li:last-child .top_head_breadcrumbs__link {
  color: rgb(241, 109, 127);
  font-weight: 700;
}

.shoping__cart {
  margin-top: 96px;
  margin-bottom: 128px;
}
.shoping__cart_wrapper {
  display: flex;
  justify-content: space-between;
}
.shoping__cart_left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 72px;
}
.shoping__cart_left_item {
  width: 652px;
  box-shadow: 17px 19px 24px 0 rgba(0, 0, 0, 0.13);
  display: flex;
  position: relative;
}
.shoping__cart_left_description {
  padding: 22px 97px 62px 31px;
}
.shoping__cart_left_description_title {
  font-weight: 400;
  font-size: 24px;
  color: #222;
  margin-bottom: 42px;
  max-width: 200px;
}
.shoping__cart_left_description_list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.shoping__cart_left_description_list_text {
  font-weight: 400;
  font-size: 22px;
  color: #575757;
}
.shoping__cart_left_description_list_price {
  color: #ef5b70;
}
.shoping__cart_left_description_list_color {
  color: #6f6e6e;
}
.shoping__cart_left_description_list_quantity {
  display: flex;
  gap: 24px;
  font-weight: 400;
  font-size: 22px;
  color: #575757;
}
.shoping__cart_left_description_list_input {
  color: #6f6e6e;
  font-weight: 400;
  font-size: 18px;
  width: 44px;
  height: 25px;
  text-align: center;
  border: 1px solid #eaeaea;
}
.shoping__cart_left_delete {
  position: absolute;
  top: 28px;
  right: 22px;
  background: none;
  cursor: pointer;
  border: none;
}
.shoping__cart_left_delete:hover path {
  fill: red;
}
.shoping__cart_left_bottom_button {
  display: flex;
  justify-content: space-between;
}
.shoping__cart_left_bottom_button_click {
  font-weight: 300;
  font-size: 14px;
  color: #000;
  padding: 17px 40px 17px 40px;
}
.shoping__cart_right_shiping_text {
  font-weight: 300;
  font-size: 16px;
  color: #222;
}
.shoping__cart_right_shiping_form {
  display: flex;
  flex-direction: column;
}
.shoping__cart_right_shiping_input {
  margin-top: 20px;
  width: 360px;
  padding: 13px 0 16px 17px;
  font-size: 13px;
  color: #222;
  font-weight: 400;
}
.shoping__cart_right_shiping_button {
  width: 101px;
  height: 35px;
  margin-top: 23px;
  font-weight: 300;
  font-size: 11px;
  color: #4a4a4a;
  border: 1px solid #A4A4A4;
  background-color: #fff;
}
.shoping__cart_right_shiping_button:hover {
  color: white;
  background-color: #A4A4A4;
}
.shoping__cart_right_total {
  margin-top: 57px;
  height: 214px;
  background-color: #f5f3f3;
}
.shoping__cart_right_total_wrapper {
  margin-bottom: 21px;
}
.shoping__cart_right_total_item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 39px;
  gap: 12px;
  padding-right: 34px;
}
.shoping__cart_right_total_item_text {
  font-weight: 400;
  font-size: 11px;
  color: #4a4a4a;
}
.shoping__cart_right_total_item_text_total {
  padding-left: 25px;
}
.shoping__cart_right_total_item_subtitle {
  font-weight: 300;
  font-size: 16px;
  color: #222;
}
.shoping__cart_right_total_item_subtitle_check {
  font-weight: 700;
  color: #f16d7f;
  padding-right: 3px;
  padding-left: 21px;
}
.shoping__cart_right_total_line {
  border: 1px solid #e2e2e2;
  margin-left: 42px;
  margin-right: 42px;
}
.shoping__cart_right_total_button {
  margin-left: 44px;
  margin-top: 17px;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  background-color: #f16d7f;
  padding: 15px 45px 15px 45px;
  transition: 0.3s;
  border: none;
}
.shoping__cart_right_total_button:hover {
  background-color: purple;
  color: #fff;
}

.registration {
  margin-top: 64px;
  margin-bottom: 96px;
  display: flex;
  gap: 128px;
}
.registration_left_item {
  display: flex;
  flex-direction: column;
}
.registration_left_item_title {
  font-weight: 300;
  font-size: 16px;
  color: #222;
}
.registration_left_item_input {
  margin-top: 20px;
  width: 360px;
  font-weight: 300;
  font-size: 13px;
  color: #b1b1b1;
  padding: 13px 0 16px 17px;
}
.registration_left_item_checkbox {
  display: flex;
  margin-top: 31px;
  margin-bottom: 33px;
}
.registration_left_item_checkbox_check {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: sub;
  border: 1px solid #a4a4a4;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.registration_left_item_checkbox_check:checked {
  background-color: #a4a4a4;
}
.registration_left_item_checkbox_none {
  display: none;
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: sub;
  border: 1px solid #a4a4a4;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.registration_left_item_checkbox_none:checked {
  background-color: #a4a4a4;
}
.registration_left_item_checkbox_label {
  padding-left: 10px;
  padding-right: 20px;
  font-weight: 300;
  font-size: 12px;
  color: #000;
}
.registration_left_item_checkbox_female {
  padding-left: 10px;
  padding-right: 20px;
  font-weight: 300;
  font-size: 12px;
  color: #000;
}
.registration_left_item_checkbox_other {
  display: none;
  padding-left: 10px;
  padding-right: 20px;
  font-weight: 300;
  font-size: 12px;
  color: #000;
}
.registration_left_details {
  margin-bottom: 39px;
}
.registration_left_details_title {
  font-weight: 300;
  font-size: 16px;
  color: #222;
}
.registration_left_details_input {
  margin-top: 20px;
  width: 360px;
  font-weight: 300;
  font-size: 13px;
  color: #b1b1b1;
  padding: 13px 0 16px 17px;
}
.registration_left_details_text {
  margin-top: 15px;
  width: 360px;
  font-weight: 300;
  font-size: 13px;
  color: #b1b1b1;
}
.registration_left_button {
  margin-top: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  background-color: #f16d7f;
  border: none;
  padding: 17px 20px 17px 29px;
  transition: 0.3s;
}
.registration_left_button:hover {
  background-color: purple;
  color: #fff;
}
.registration_right_item {
  margin-bottom: 21px;
}
.registration_right_item_title {
  margin-bottom: 22px;
  font-weight: 300;
  font-size: 24px;
  color: #000;
}
.registration_right_item_text {
  font-weight: 300;
  font-size: 24px;
  color: #000;
}
.registration_right_text_li {
  display: flex;
  gap: 22px;
  list-style-type: none;
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 24px;
  color: #000;
}
.registration_right_text_li::before {
  content: url(./img/img_registration/vector_registration_li.svg);
  background-repeat: no-repeat;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.sort {
  height: 132px;
  position: relative;
  display: flex;
  padding-top: 39px;
  box-sizing: border-box;
  gap: 30px;
}

.filter {
  padding-top: 13px;
  width: 360px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}
.filter__content {
  box-shadow: 6px 37px 35px 0px rgba(0, 0, 0, 0.21);
  background-color: rgb(255, 255, 255);
  padding: 0px 16px 16px 16px;
}
.filter[open] {
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  background: rgb(255, 255, 255);
}
.filter[open] .filter__heading {
  color: rgb(241, 109, 127);
}
.filter[open] path {
  fill: rgb(241, 109, 127);
}
.filter__summary {
  gap: 11px;
  display: flex;
  align-items: center;
  padding-left: 16px;
}
.filter__heading {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  color: #000;
}
.filter__item {
  margin-top: 16px;
}
.filter__link_box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__link {
  color: rgb(111, 110, 110);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.filter__link:hover {
  color: rgb(241, 109, 127);
}
.filter__head {
  color: rgb(111, 110, 110);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid rgb(235, 235, 235);
  border-left: 5px solid rgb(241, 109, 127);
}
.filter__item[open] .filter__head {
  color: rgb(241, 109, 127);
}

.sort__details {
  padding-top: 12px;
  display: flex;
  gap: 18px;
}

.details {
  position: relative;
}
.details__title {
  color: rgb(111, 110, 110);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.details__box {
  position: absolute;
  left: -9px;
  top: 22px;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  background: rgb(255, 255, 255);
  width: 79px;
  padding: 7px 9px 11px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.details__check {
  display: flex;
  gap: 9px;
  align-items: center;
  color: rgb(111, 110, 110);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.products_slide {
  border: 1px solid rgb(234, 234, 234);
  background: rgb(247, 247, 247);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.products_slide_image {
  padding-top: 11px;
}
.products_slide_vector_right {
  background: rgba(42, 42, 42, 0.15);
  width: 47px;
  height: 47px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.products__description {
  position: relative;
  top: -30px;
}
.products__description__box {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(234, 234, 234);
  height: 601px;
}
.products__description__box__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products__description__box__text_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 65px;
}
.products__description__box__text_top_subtitle {
  color: rgb(241, 109, 127);
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  padding-bottom: 12px;
}
.products__description__box__text_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products__description__box__text_center_subject {
  color: rgb(77, 77, 77);
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  padding-top: 13px;
}
.products__description__box__text_center_desc {
  color: rgb(94, 94, 94);
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  padding-top: 49px;
}
.products__description__box__text_price {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}
.products__description__box__text_price_title {
  color: rgb(239, 91, 112);
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  padding-bottom: 65px;
}
.products__description__box__sort {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 65px;
  gap: 23px;
}
.products__description__box__sort__details__title {
  color: rgb(111, 110, 110);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.products__description__box__button {
  display: flex;
  justify-content: center;
  padding-top: 49px;
  padding-bottom: 65px;
}
.products__description__box__button__click {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 24px 15px 24px;
  gap: 22px;
  border: 1px solid rgb(255, 106, 106);
  width: 212px;
  height: 49px;
  background: none;
  color: rgb(242, 99, 118);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.content {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 65px;
  padding-bottom: 96px;
}
.content_item {
  position: relative;
}
.content_item_big {
  position: relative;
}
.content_img_big {
  display: grid;
  grid-column: 1/4;
}
.content_text {
  display: flex;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content__text {
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.content_subtitle {
  color: rgb(241, 109, 127);
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.subtitle_products {
  color: rgb(34, 34, 34);
  font-family: Lato;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.text_products {
  color: rgb(159, 159, 159);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
}

.products_box_content {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
  margin-top: 48px;
  margin-bottom: 68px;
}

.products {
  position: relative;
  display: flex;
  flex-direction: column;
}

.products_item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.product_img_woman {
  background: rgb(247, 228, 226);
}

.products_text {
  background: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 16px 24px 16px;
}

.products_box_subtitle {
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  padding-bottom: 16px;
}

.products_box_text {
  color: rgb(93, 93, 93);
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: left;
  padding-bottom: 16px;
}

.price {
  color: rgb(241, 109, 127);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}

.products:hover .product__img {
  filter: brightness(0.5);
}

.products:hover .add {
  display: flex;
}

.add {
  position: absolute;
  top: 188px;
  left: 111px;
  border: 1px solid #fff;
  width: 139px;
  height: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 11px;
  color: #FFFFFF;
}

.add:hover {
  box-shadow: 0 0 5px #fff;
}

.add:active {
  color: red;
}

.icons:hover path {
  fill: red;
}

.products_box_button {
  padding-left: 465px;
  padding-bottom: 96px;
}

.button {
  color: rgb(242, 99, 118);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  border: 2px solid;
  padding: 15px 39px 14px 39px;
  transition: all 0.3s;
}

.button:hover {
  background-color: rgb(241, 109, 127);
  color: #fff;
}

.future {
  background-color: rgb(34, 34, 36);
}
.future__wrapper {
  background-color: rgb(34, 34, 36);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 104px;
  justify-content: space-around;
  padding-bottom: 104px;
  gap: 30px;
  align-items: center;
}
.future__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.future__img {
  background-image: url(./img/Forma\ 1.svg);
  width: 46px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
}
.future__imgtwo {
  background-image: url(./img/Forma\ 2.svg);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}
.future__imgthree {
  background-image: url(./img/img_future_3.svg);
  width: 48px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
}
.future__subtitle_future {
  margin-top: 28px;
  margin-bottom: 16px;
  color: rgb(251, 251, 251);
  font-family: Lato;
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
}
.future__text_future {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
  width: 283px;
  text-align: center;
  opacity: 0.7;
}

.pagination {
  padding-bottom: 96px;
  display: flex;
  justify-content: center;
}
.pagination__box {
  border: 1px solid rgb(235, 235, 235);
  background: rgb(255, 255, 255);
  border: radius 7px;
  width: 283px;
  height: 43px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.pagination__vector__left {
  padding: 15px;
}
.pagination__text {
  display: flex;
  gap: 18px;
}
.pagination__number {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: 196, 196, 196;
}
.pagination__number__one {
  color: rgb(241, 109, 127);
}
.pagination__vector__right {
  padding: 15px;
}

.subscribe_item {
  background-image: url(./img/photo\ subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
}
.subscribe_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 96px;
  padding-bottom: 126px;
}
.subscribe_left {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe_left_text {
  padding-top: 30px;
  color: rgb(34, 34, 36);
  font-family: Lato;
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 360px;
}
.subscribe_right {
  /* position: relative; */
}
.subscribe_right_text_h3 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.subscribe_right_text_h4 {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 32px;
  text-align: center;
}
.subscribe_right_border {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.subscribe_right_border_item_text {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  padding: 5px 5px 5px 40px;
  width: 256px;
  height: 49px;
  border: 0px solid #fff;
  background: url(./img/img_subscribe_border_1.svg) no-repeat;
  background-size: auto 110%;
}
.subscribe_right_border_item_text_1 {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 5px 5px 5px 25px;
  width: 129px;
  height: 58px;
  border: 0px solid #fff;
  background: url(./img/img_subscribe_border_2.svg) no-repeat;
  background-size: auto 110%;
  text-align: left;
}
.subscribe_right_border_item_text_1:hover {
  background: purple;
  border-radius: 0px 30px 18px 0px;
  color: red;
}

.copyright {
  /* padding-bottom: 15px; */
}
.copyright_line {
  min-width: 75px;
  background: #222224;
  background-repeat: no-repeat;
}
.copyright_logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.copyright_left {
  padding-top: 30px;
  padding-bottom: 30px;
  /* padding-left: 235px; */
}
.copyright_right_logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: -74px;
}
.copyright_text {
  color: rgb(251, 251, 251);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.icon:hover path {
  stroke: rgb(241, 109, 127);
}

.icon:active path {
  fill: rgb(241, 109, 127);
}

@media (max-width: 1318px) {
  .content {
    padding-left: 89px;
    padding-right: 135px;
    padding-bottom: 109px;
  }
  .products_box_content {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    gap: 16px;
    justify-content: center;
    margin-top: 73px;
    margin-bottom: 32px;
  }
  .copyright_right_logo {
    margin-right: 0px;
  }
}
@media (max-width: 1178px) {
  .header {
    padding-right: 32px;
    padding-left: 32px;
  }
  .top_head_left {
    margin-left: 70px;
    margin-right: 70px;
  }
  .registration {
    margin-left: 70px;
    margin-right: 70px;
    gap: 30px;
  }
  .subscribe_wrapper {
    padding-left: 70px;
    padding-right: 70px;
  }
  .copyright_logo {
    justify-content: space-around;
  }
}
@media (max-width: 1030px) {
  .products_box_content {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    gap: 30px;
    margin-top: 48px;
    margin-bottom: 68px;
  }
}
@media (max-width: 1024px) {
  .top_content {
    background: #F1E4E6;
    display: flex;
    align-items: center;
    gap: 39px;
    padding-left: calc(50% - 512px);
    padding-right: calc(50% - 512px);
  }
  .top_content_right_text {
    padding-left: 16px;
  }
  .top_title {
    font-family: Lato;
    font-size: 44px;
    font-weight: 900;
    text-align: left;
  }
  .top_subtitle {
    font-family: Lato;
    font-size: 34px;
    font-weight: 700;
    /* text-align: left; */
  }
  .content {
    padding-left: 73px;
    padding-right: 89px;
    padding-bottom: 109px;
  }
  .products_box_content {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    gap: 16px;
    justify-content: center;
    margin-top: 73px;
    margin-bottom: 32px;
  }
  .products_box_button {
    padding-left: 408px;
  }
  .text_future {
    text-align: center;
  }
  .subscribe_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .copyright_logo {
    gap: 305px;
  }
}
@media (max-width: 867px) {
  .products_box_content {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    gap: 16px;
    margin-top: 73px;
    margin-bottom: 32px;
  }
  .registration_right_item_title {
    font-size: 15px;
  }
  .registration_right_item_text {
    font-size: 14px;
  }
  .registration_right_text_li {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .top_content {
    background: #F1E4E6;
    display: flex;
    align-items: center;
    gap: 39px;
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
  }
  .content {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 109px;
  }
  .sort {
    height: 0;
  }
  .products_content {
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .products_box_content {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    gap: 16px;
  }
  .products_item {
    display: none;
  }
  .products_box_button {
    padding-left: 278px;
  }
  .top_head_left {
    margin-left: 16px;
    margin-right: 16px;
  }
  .registration {
    margin-top: 40px;
    margin-bottom: 96px;
    margin-left: 16px;
    margin-right: 16px;
    gap: 22px;
  }
  .registration_left_item_checkbox_none {
    display: block;
  }
  .registration_left_item_checkbox_other {
    display: block;
  }
  .registration_right_item_title {
    font-size: 13px;
    margin-bottom: 32px;
  }
  .registration_right_item_text {
    width: 295px;
    font-size: 13px;
  }
  .registration_right_text_li {
    font-size: 13px;
  }
  .future__wrapper {
    flex-direction: column;
    gap: 48px;
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .subscribe_item {
    background-image: url(./img/subscribe_tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .subscribe_wrapper {
    padding-top: 64px;
    padding-bottom: 140px;
  }
}
@media (max-width: 765px) {
  .products_box_content {
    grid-template-columns: repeat(1, 360px);
  }
}
@media (max-width: 724px) {
  .registration {
    flex-wrap: wrap;
  }
  .registration_right_item_title {
    font-size: 16px;
    margin-bottom: 32px;
  }
  .registration_right_item_text {
    width: 100%;
    font-size: 16px;
  }
  .registration_right_text_li {
    font-size: 16px;
  }
  .copyright_logo {
    gap: 15px;
  }
}
@media (max-width: 598px) {
  .subscribe_wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
  .subscribe_right_border_item_text {
    width: 189px;
  }
}
@media (max-width: 425px) {
  .menu__link {
    display: none;
  }
  .menu__cart {
    display: none;
  }
  .registration_left_item_input {
    width: 329px;
  }
  .registration_left_details_input {
    width: 329px;
  }
  .pagination {
    padding-bottom: 64px;
    padding-left: 45px;
    padding-right: 45px;
  }
  .future__wrapper {
    gap: 46px;
    padding-bottom: 81px;
    padding-left: 14px;
    padding-right: 14px;
  }
  .subscribe_right_border_item_text {
    width: 130px;
  }
  .copyright_logo {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
  }
  .copyright_left {
    padding-bottom: 24px;
  }
  .copyright_right_logo {
    padding-top: 43px;
  }
}
@media (max-width: 375px) {
  .header {
    padding-right: 16px;
    padding-left: 16px;
  }
  .menu__link {
    display: none;
  }
  .top_content {
    background: #F1E4E6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 39px;
    padding-bottom: 100px;
  }
  .top_content_left {
    display: none;
  }
  .top_content_right {
    display: flex;
    padding-top: 100px;
  }
  .top_title {
    font-family: Lato;
    font-size: 38px;
    font-weight: 900;
    text-align: left;
  }
  .top_subtitle {
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    /* text-align: left; */
  }
  .content {
    display: block;
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .content_item {
    padding-bottom: 32px;
  }
  .products_box_content {
    display: grid;
    grid-template-columns: repeat(1, 359px);
    gap: 16px;
    margin-top: 64px;
    margin-bottom: 40px;
  }
  .products_box_button {
    padding-left: 89px;
  }
  .button {
    color: rgb(242, 99, 118);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    border: 1px solid;
    padding: 15px 39px 14px 39px;
  }
  .top_head {
    justify-content: center;
  }
  .registration {
    margin-left: 8px;
    margin-right: 8px;
    align-items: flex-start;
  }
  .registration_left_item_input {
    width: 320px;
  }
  .registration_right_item_text {
    width: 347px;
  }
  .registration_left_details_input {
    width: 320px;
  }
  .subscribe_wrapper {
    padding-bottom: 109px;
    gap: 59px;
  }
  .subscribe_item {
    background-image: url(./img/subscribe_mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .subscribe_left_text {
    font-size: 18px;
    width: 338px;
  }
  .subscribe_right_border_item_text {
    height: 39px;
  }
  .subscribe_right_border_item_text_1 {
    height: 49px;
    width: 108px;
  }
  .subscribe_right_text_h4 {
    font-size: 14px;
  }
  .subscribe_right_border_item_text_1:hover {
    border-radius: 0px 24px 12px 0px;
  }
}/*# sourceMappingURL=style.css.map */