@import '_vars';
@import '_mixins';


* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.top{
    overflow: hidden;
}




.header {
    min-height: 75px;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &_left {
        display: flex;
        align-items: center;
        gap: 41px;
    }
    &_right {
        display: flex;
        align-items: center;
        gap: 33px;
    }
}
.menu {
    width: 232px;
    position: absolute;
    top: 75px;
    right: 0;
    padding: 32px;
    box-sizing:border-box;
    transition: right 0.3s;
    
    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    background: rgb(255, 255, 255);
    &__heading{
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        margin-bottom: 4px;

    }
    &__subheading{
        color: $colorselectSite;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        margin-bottom: 12px;
        margin-top: 20px;
    }
    &__ul {
        display: flex;
        flex-direction: column;
        gap: 11px;
        list-style-type: none;
        padding-left: 20px;
        
    }

    &__link {
        color:$colorselectItems;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        &:hover {
            color:$colorselectSite;
        }
        
    }
}

#check {
    position: absolute;
    left: -99999px;
    visibility: hidden;
}
#check:checked ~.menu{
    right: -232px;
}

.top_content {
    background: #F1E4E6;
    display: flex;
    align-items: center;
    gap: 64px;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    &_right {
        display: flex;
        &_text {
            padding-left: 16px;
        }
    }
    
    &_title {
        font-size: 48px;
        font-weight: 900;
        text-align: left;
    }
    &_subtitle {
        font-size: 32px;
        font-weight: 700;
        /* text-align: left; */
    }
    &_heading {
        color: $colorselectSite;
    }
}

// Стили для странницы Catalog
// Блок top_head

.top_head {
    background:rgb(248, 243, 244);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_heading {
        color: $colorselectSite;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
    }
    &_breadcrumbs__link{
        color: rgb(99, 99, 99);
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        &_site{
            color: $colorselectSite;
            font-weight: 700;   
        }
    }
    
}

summary {
    display: block;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }
  
  summary::before {
    
  }
  
  details[open] > summary::before {
    
  }


.sort{
    height: 132px;
    position: relative;
    display: flex;
    padding-top: 39px;
    box-sizing:border-box;
    gap: 30px;
   
}
  

.filter{
    padding-top: 13px;
    width: 360px;
    box-sizing:border-box;
    position: relative;
    z-index: 10;

    &__content {
        background-color:  rgb(255, 255, 255);
        padding: 0px 16px 16px 16px;
        
        // position: absolute
       
    }

    &[open] {
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        background: rgb(255, 255, 255);
    }

    &[open] .filter__heading {
        color: $colorselectSite;

    }
    &[open] path{
        fill: $colorselectSite;
    }


    &__summary{
        gap: 11px;
        display: flex;
        align-items: center;
        padding-left: 16px;
    }
    &__heading{
        @include font(#000);
    }
    &__item{
        margin-top: 16px;
    }

    &__link_box{
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;

    }

    &__link {
        color: $colorselectItems;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        &:hover{
            color: $colorselectSite;
        }
    }

    &__head{
        color:$colorselectItems;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid rgb(235, 235, 235);
        border-left: 5px solid $colorselectSite;
    }
    &__item[open] .filter__head {
        color: $colorselectSite;

    }

}
.sort__details{
    
    padding-top: 12px;
    display: flex;
    gap: 18px;
    
    
}


.details{
    position: relative;
    &__title {
        color:$colorselectItems;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        display: flex;
        align-items:center;
        gap: 10px;
    }
    &__svg {
        // padding-left: 10px;
    }
    &__box {
        position: absolute;
        left: -9px;
        top: 22px;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        background: rgb(255, 255, 255);
        width: 79px;
        padding: 7px 9px 11px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 6px;
        
        
        
    }

    &__check{
        display: flex;
        gap: 9px;
        align-items:center;
        color: $colorselectItems;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        
        }
    

    
}

// Стили для страницы Product 
    .products_slide {
        border: 1px solid rgb(234, 234, 234);
        background: rgb(247, 247, 247);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &_vector_left{
            
        }
        &_image{
            padding-top: 11px;
        }
        &_vector_right{
                background: rgba(42, 42, 42, 0.15);
                width: 47px;
                height: 47px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
        }

        
    }

    .products__description{
        position: relative;
        top: -30px;
        &__box{
            background: rgb(255, 255, 255);
            border: 1px solid rgb(234, 234, 234);
            height: 601px;
            &__text{
                display: flex;
                flex-direction: column;
                align-items: center;
                &_top{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-top: 65px;
                    &_subtitle {
                        color: $colorselectSite;
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 17px;
                        padding-bottom: 12px;
                    }    
                }
                &_center{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &_subject{ 
                        color: rgb(77, 77, 77);
                        font-size: 18px;
                        font-weight: 300;
                        line-height: 22px;
                        padding-top: 13px;
                    }
                    &_desc{
                        color: rgb(94, 94, 94);
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 17px;
                        padding-top: 49px;
                    }
                }
                &_price{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-top: 32px;
                    &_title{
                        color: rgb(239, 91, 112);
                        font-size: 24px;
                        font-weight: 300;
                        line-height: 29px;
                        padding-bottom: 65px;
                    }
                }
            }
            &__sort{
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding-top: 65px;
                gap: 23px;
                &__details {
                    &__title{
                        color: $colorselectItems;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 17px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }
    
                }
            }
            &__button{
                display: flex;
                justify-content: center;
                padding-top: 49px;
                padding-bottom: 65px;                      
                &__click{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 15px 24px 15px 24px;
                    gap: 22px;
                    border: 1px solid rgb(255, 106, 106);
                    width: 212px;
                    height: 49px;
                    background:none;
                    color: rgb(242, 99, 118);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
    
    
                }
                &__svg {
    
                }
            }
        }
        
        
        
        
    }





// Стили для страницы Index

.content {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 65px;
    padding-bottom: 96px;
    &_item {
        position: relative;
    }
    &_item_big {
        position: relative;
    }
    &_img_big {
        display: grid;
        grid-column: 1 / 4;
    }
    &_text {
        display: flex;
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__text {
        color: rgb(255, 255, 255);
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }
    &_subtitle {
        color:$colorselectSite;
        font-family: Lato;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }
}    

.subtitle_products {
    color: rgb(34, 34, 34);
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.text_products {
    color: rgb(159, 159, 159);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
}

.products_box_content {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    margin-top: 48px;
    margin-bottom: 68px;

}

.products {
    position: relative;
    display: flex;
    flex-direction: column;
}

.product_img_woman {
    background: rgb(247, 228, 226);
}

.products_text {
    background: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 16px 24px 16px;
}

.products_box_subtitle {
    color: rgb(0, 0, 0);
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    padding-bottom: 16px;
}

.products_box_text {
    color: rgb(93, 93, 93);
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    text-align: left;
    padding-bottom: 16px;
}


.price {
    color:$colorselectSite;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}

.products:hover .product__img {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
}

.products:hover .add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.add {
    position: absolute;
    top: 188px;
    left: 111px;
    border: 1px solid #fff;
    width: 139px;
    height: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 11px;
    color: #FFFFFF;

}

.add:hover {
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0 0 5px #fff;
}

.add:active {

    color: red;
}

.icons:hover path {
    fill: red;
}


.products_box_button {
    padding-left: 465px;
    padding-bottom: 96px;
}


.button {
    color: rgb(242, 99, 118);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    border: 2px solid;
    padding: 15px 39px 14px 39px;
    transition: all 0.3s;

}

.button:hover {
    background-color:$colorselectSite;
    color: #fff;
}

.future {
    background-color: rgb(34, 34, 36);
    display: flex;
    padding-top: 104px;
    padding-left: 230px;
    padding-right: 230px;
    padding-bottom: 104px;
    gap: 30px;
    &__item {
        display: flex;
        /* justify-content: space-evenly; */
        align-items: center;
        flex-direction: column;
    }
    &__item_1 {
        display: flex;
        /* justify-content: space-evenly; */
        align-items: center;
        flex-direction: column;
    }
    &__item_2 {
        display: flex;
        /* justify-content: space-evenly; */
        align-items: center;
        flex-direction: column;
    }
    &__subtitle_future {
        padding-top: 19px;
        padding-bottom: 16px;
        color: rgb(251, 251, 251);
        font-family: Lato;
        font-size: 19.96px;
        font-weight: 400;
        line-height: 24px;
    }
    &__text_future {
        color: rgb(251, 251, 251);
        font-family: Lato;
        font-size: 13.97px;
        font-weight: 300;
        line-height: 17px;
    }
}    
// Стили для странницы Catalog
// Блок Pagination
.pagination{
    // 
    padding-bottom: 96px;

    display: flex;
    justify-content: center;
    &__box{
        border: 1px solid rgb(235, 235, 235);
        background: rgb(255, 255, 255);
        border: radius 7px;
        width: 283px;
        height: 43px;
        display: flex;
        justify-content: space-evenly;
        align-items:center;
        // gap: 18px;
    }
    &__vector__left{
        padding: 15px;
    }
    &__text{
        display: flex;
        gap: 18px;
    }    
    &__number{
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: (196, 196, 196);
    }
    &__number__one{
        color: $colorselectSite;
    }
    &__vector__right{
        padding: 15px;
    }

}



.subscribe {
    /* position: absolute */
    /* opacity: 0.3; */
    background-repeat:no-repeat;
    /* max-height: 100%;
    height: 450px; */
    &_img_background {
        opacity: 0.3;
        position: absolute;
    }
    &_item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 87px;
        gap: 340px;
        padding-bottom: 188px;
        position: relative;
    }
    &_left {
        /* position: relative; */
        display: flex;
        flex-direction: column;
        align-items: center;
        &_text {
            padding-top: 30px;
            color: rgb(34, 34, 36);
            font-family: Lato;
            font-style: italic;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
        }
    }
    &_right {
        /* position: relative; */
        &_text_h3 {
            font-size: 24px;
            font-weight: 700;
            text-align: center;
        }    
        &_text_h4 {
                font-size: 18px;
                font-weight: 400;
                padding-bottom: 32px;
                text-align: center;
        }
        &_border {
            display: flex;
            flex-direction: row;
            justify-content: center;
            &_item {
                &_text {
                    font-family: Lato;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                    text-align: left;
                    padding: 5px 5px 5px 40px;
                    width: 256px;
                    height: 49px;
                    border: 0px solid #fff;
                    background: url(./img/img_subscribe_border_1.svg) no-repeat;
                    background-size: auto 110%;
                    &_1 {
                        font-family: Lato;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 17px;
                        padding: 5px 5px 5px 25px;
                        width: 129px;
                        height: 58px;
                        border: 0px solid #fff;
                        background: url(./img/img_subscribe_border_2.svg) no-repeat;
                        background-size: auto 110%;
                        text-align: left;
                        &:hover{
                            background: purple;
                            border-radius: 0px 30px 18px 0px;
                            color: red
                        }
                    }   
                }
            }
        }
    }
}

.copyright {
    /* padding-bottom: 15px; */
    &_img {
        position: absolute;
    }
    &_logo {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 510px;
    }
    &_left {
        padding-top: 30px;
        padding-bottom: 30px;
        /* padding-left: 235px; */
    }
    &_right_logo {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    &_text {
         color: rgb(251, 251, 251);
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }
}

.icon:hover path {

    stroke:$colorselectSite;

}

.icon:active path {
    fill: $colorselectSite;

}

@media(max-width: 1318px) {

    .content {
        padding-left: 89px;
        padding-right: 135px;
        padding-bottom: 109px;
    }

    .products_box_content {
        display: grid;
        grid-template-columns: repeat(2, 360px);
        gap: 16px;
        justify-content: center;
        margin-top: 73px;
        margin-bottom: 32px;
    }

}

@media(max-width: 1030px) {

    .header_left {
        padding-left: 32px;
    }

    .products_box_content {
        display: grid;
        grid-template-columns: repeat(2, 360px);
        gap: 30px;
        margin-top: 48px;
        margin-bottom: 68px;

    }
}


@media(max-width:1024px) {

    .header_left {
        padding-left: 32px;
    }

    .header_right {
        padding-right: 32px;
    }

    .top_content {
        background: #F1E4E6;
        display: flex;
        align-items: center;
        gap: 39px;
        padding-left: calc(50% - 512px);
        padding-right: calc(50% - 512px);
    }


    .top_content_right_text {
        padding-left: 16px;

    }

    .top_title {
        font-family: Lato;
        font-size: 44px;
        font-weight: 900;
        text-align: left;
    }

    .top_subtitle {
        font-family: Lato;
        font-size: 34px;
        font-weight: 700;
        /* text-align: left; */
    }

    .content {
        padding-left: 73px;
        padding-right: 89px;
        padding-bottom: 109px;
    }

    .products_box_content {
        display: grid;
        grid-template-columns: repeat(2, 360px);
        gap: 16px;
        justify-content: center;
        margin-top: 73px;
        margin-bottom: 32px;
    }

    .products_box_button {
        padding-left: 408px;
    }

    .future {
        background-color: rgb(34, 34, 36);
        display: flex;
        padding-top: 48px;
        padding-left: 204px;
        padding-right: 204px;
        padding-bottom: 48px;
        gap: 48px;
        flex-direction: column;
    }

    .text_future {
        text-align: center;
    }


    .subscribe_item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 53px;
        gap: 48px;
        padding-bottom: 140px;
        /* position: relative; */
        flex-direction: column;
    }

    .copyright_logo {

        gap: 305px;
    }



}

@media(max-width:867px) {

    .products_box_content {
        display: grid;
        grid-template-columns: repeat(2, 312px);
        gap: 16px;
        margin-top: 73px;
        margin-bottom: 32px;
    }
}

@media(max-width:768px) {
    .top_content {
        background: #F1E4E6;
        display: flex;
        align-items: center;
        gap: 39px;
        padding-left: calc(50% - 384px);
        padding-right: calc(50% - 384px);
    }

    .content {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 109px;
    }

    .products_box_content {
        display: grid;
        grid-template-columns: repeat(2, 360px);
        gap: 16px;
        margin-top: 73px;
        margin-bottom: 32px;
    }

    .products_box_button {
        padding-left: 278px;
    }
}

    @media(max-width: 375px) {

        .img_header_right_2_3 {
            display: none;
        }

        .header_left {
            padding-left: 16px;
        }

        .header_right {
            padding-right: 16px;
        }



        .top_content {
            background: #F1E4E6;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 39px;
            padding-bottom: 100px;

        }

        .top_content_left {
            display: none;

        }

        .top_content_right {
            display: flex;
            padding-top: 100px;

        }

        .top_title {
            font-family: Lato;
            font-size: 38px;
            font-weight: 900;
            text-align: left;
        }

        .top_subtitle {
            font-family: Lato;
            font-size: 20px;
            font-weight: 700;
            /* text-align: left; */
        }

        .content {
            display: block;
            padding-top: 64px;
            padding-bottom: 64px;
        }

        .content_item {
            padding-bottom: 32px;
        }

        .products_box_content {
            display: grid;
            grid-template-columns: repeat(1, 359px);
            gap: 16px;
            margin-top: 64px;
            margin-bottom: 40px;
        }

        .products_box_button {
            padding-left: 89px;
        }

        .button {
            color: rgb(242, 99, 118);
            font-family: Lato;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            text-align: center;
            border: 1px solid;
            padding: 15px 39px 14px 39px;

        }
    }
